@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

.gradient {
  background: linear-gradient(
    to right top,
    #dbd7fb,
    #ebd7f4,
    #f5d9ec,
    #fadde6,
    #fbe2e3
  );
}

.custom-image {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.vertical-timeline-right {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.vertical-timeline-right:hover {
  transform: translateX(10px);
}

.vertical-timeline-left {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.vertical-timeline-left:hover {
  transform: translateX(-10px);
}

.logos:before,
.logos:after {
  position: absolute;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  /* display: inline-block; */
  animation: 20s slide infinite linear;
}

.logos-slide li {
  height: 50px;
  margin: 0 30px;
}
